@charset "utf-8";

/* ------------------------------------------------------------------ PC  ------------------------------------------------------------------ */
@media only screen and (min-width: 1390px) {

/*gnb 드롭다운 메뉴*/
.menu li:nth-child(3) div.openMenu.mnlist01	{left: 37%;width: 200px;height: 148px;}
.menu li:nth-child(4) div.openMenu.mnlist02	{left: 58%;width: 204px;height: 180px;}
/*.menu li:nth-child(3):hover div.openMenu.mnlist01	{display:block;}*/
/*.menu li:nth-child(4):hover div.openMenu.mnlist02	{display:block;}*/

.openMenu		{background: #fff;display: none;overflow: hidden;position: absolute;top: 80px;z-index: 10;box-shadow: 3px 13px 12px rgba(0, 0, 0, 0.1);}
.openMenu ul.depth_list					{background: #fff;border-top:2px solid #ee2c49;padding: 25px;}
.openMenu ul.depth_list > li			{position: relative;height: 20px !important;display: block;width: 100%;margin-right: 0px !important;font: 400 16px/20px "Mulish","Noto Sans KR", sans-serif !important;padding:7px 0px 5px 18px;}
.openMenu ul.depth_list > li::before	{content:'';width:3px;height:3px;border-radius:100%;background:#575757;position:absolute;top: 16px;left: 6px;}
.openMenu ul.depth_list > li:last-child	{border-bottom:none;}
.openMenu ul.depth_list > li a			{color:#333 !important;}
.openMenu ul.depth_list > li:hover a	{color:#ee2c49 !important;}

}

@media only screen and (min-width: 960px) {

ul.m_menu > li .ms_menu				{margin-bottom: 25px !important;}
ul.m_menu > li .ms_menu li::before	{top: 18px !important;left: 5px !important;}

ul.m_menu > li .ms_menu li:hover::before				{top: 18px !important;left: 5px !important;}
ul.m_menu > li .ms_menu li:first-child:hover::before	{top: 18px !important;left: 5px !important;}
ul.m_menu > li .ms_menu li a							{padding: 7px 0 0px 15px !important;font: 400 16px/22px 'Noto Sans KR','맑은 고딕', sans-serif !important;}
}


/* ------------------------------------------------------------------ PC 끝  ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ TA  ------------------------------------------------------------------ */
@media only screen and (min-width: 640px) and (max-width: 959px) {

/*햄버거 메뉴 불릿 관련*/
ul.m_menu > li .ms_menu							{margin-bottom: 25px !important;}
ul.m_menu > li .ms_menu li a					{padding: 7px 0 0px 15px;font: 400 16px/22px 'Noto Sans KR','맑은 고딕', sans-serif !important;}
ul.m_menu > li .ms_menu li::before				{top: 18px !important;left: 3px !important;}
ul.m_menu > li .ms_menu li:first-child::before	{top: 11px !important;left: 3px !important;}

}
/* ------------------------------------------------------------------ TA 끝  ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ MO  ------------------------------------------------------------------ */
@media only screen and (max-width: 640px) {

ul.m_menu > li .ms_menu							{margin-bottom: 25px !important;}
ul.m_menu > li .ms_menu li a					{padding: 7px 0 0px 15px;font: 400 16px/22px 'Noto Sans KR','맑은 고딕', sans-serif !important;}
ul.m_menu > li .ms_menu li::before				{top: 18px !important;left: 3px !important;}
ul.m_menu > li .ms_menu li:first-child::before	{top: 11px !important;left: 3px !important;}